<footer class="page-footer blue-grey darken-4 ">
        <div class="container ">
            <div class="row ">
                <div class="col l6 s12 ">
                    <h5 class="white-text ">ProjetoAnime</h5>
                    <p class="grey-text text-lighten-4 ">O melhor dos animes e mangás estão aqui.</p>
                </div>
                <div class="col l4 offset-l2 s12 ">
                    <h5 class="white-text ">Sobre</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3 " href="{% url 'sobre_projeto' %}">Projeto</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3 " asp-action="PageDesenvolvedor" asp-controller="Home" >Desenvolvedores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright ">
            <div class="container ">
                © @DateTime.Now.Year Copyright
            </div>
        </div>
    </footer>

