@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-br">
<partial name="_Head"  />
<partial name="_Header"></partial>
<body>

    <div style="min-height: 625px;">
        @RenderBody()
    </div>

    <partial name="_footer" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
