@model ProjetoAnime.Webapp.MVC.Models.KitsuViewModel

@if (Model != null)
{
    foreach (var item in Model.Manga.Data)
    {
        <div class="card col s12 m6 l2 ">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="card-img" src="@item.Attributes.PosterImage?.Medium" alt="aa"/>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    <span
                        class="card-title">
                    </span><i class="material-icons right">more_vert</i>
                </span>
                <p style="word-wrap:break-all; height: 5em ">
                    <a href="#">@item.Attributes.CanonicalTitle</a>
                </p>

            </div>
            <div class="card-reveal ">
                <span class="card-title grey-text text-darken-4 ">
                    <span class="card-title "></span><i class="material-icons right ">close</i>
                </span>
                <p>@item.Attributes.Synopsis)</p><br>
                <i>Quantidade de capítulos:@item.Attributes.ChapterCount</i>
            </div>
        </div>
    }
}
else
{
    <p>Sem animes em alta</p>
}