@{
    Layout = "_Layout";
}
<body>
<main>
    <h3 class="center card-panel blue-grey darken-4 white-text">Desenvolvedor</h3>
    <div class="center" style="margin-top:80px">
        <div class="col s6 center">
            <div class="center promo promo-example center">
                <div class="col s6 offset-s6 center" style="justify-content:space-between">
                    <img class="responsive-img circle z-depth-5" width="120" src="https://avatars.githubusercontent.com/u/62726160?v=4" alt="">
                    <br><br>
                    <strong class="promo-caption">JANDERSON BARBOSA GONÇALVES</strong>
                    <br><br>
                    <a href="https://github.com/janderson-code" target="_blank" class="waves-effect waves-light btn-floating btn-large social github">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
