@model ProjetoAnime.Webapp.MVC.Models.Anime.AnimeKitsuViewModel
@using ProjetoAnime.Core.API.User
@inject IAspNetUser user

<header>
    <nav class="nav-extended light-blue darken-2">
        <div class="nav-wrapper ">
            <ul id="nav-mobile" class="right">
                  @if (user.IsAuthenticated())
                 {
                <li>
                    <a a asp-action="Logout" asp-controller="Identidade"  style="margin-right:30px;">Sair</a>
                </li>
               
                <li>
                    <a class="active" style="margin-right:30px;"> Olá @user.Name</a>
                </li>
                 }
                <li>
                    <a asp-action="Login" asp-controller="Identidade" >Login</a>
                </li>
                <li>
                    <a asp-action="Cadastrar" asp-controller="Identidade">Cadastrar-se </a>
                </li>
            </ul>
        </div>
        <div class="nav-header center ">
            <a asp-action="Index">
                <h1>Projeto Animangá</h1>
            </a>
        </div>
        <div class="nav-content ">
            <ul class="tabs tabs-transparent blue-grey darken-4 ">
                <li class="tab ">
                    <a href="{% url 'home' %} ">Home</a>
                </li>
                @if (user.IsAuthenticated())
                {
                    <li class="tab ">
                        <a href="/animes">Animes</a>
                    </li>
                    <li class="tab ">
                        <a href="/mangas">Mangás</a>
                    </li>
                    <li class="tab ">
                        <a href="/season">Temporadas</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>