@model ProjetoAnime.Webapp.MVC.Models.KitsuViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
<body>
    <partial name="_bodyMain"></partial>
</body>
