@model ProjetoAnime.Webapp.MVC.Models.Anime.AnimeKitsuViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<!DOCTYPE html>
<html lang="pt-br">
<partial name="_Head"></partial>
<body>
    <partial name="_Header"></partial>
    <partial name="_bodyMain"></partial>
    <partial name="_footer"></partial>
</body>
